/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************/
/*   Start of the stylesheet    */
/********************************/

/* Images */

.zelda-logo {
    width: 420px;
    margin: 0 auto;

    transition: all .3s ease;
}

.zelda-logo:hover {
    cursor: pointer;

    transform: scale(1.1);
    -webkit-transform: scale(1.1);

    filter: drop-shadow(0 0 10px #cab072);
    -webkit-filter: drop-shadow(0 0 10px #cab072);
    filter: drop-shadow(0 0 10px #cab072) brightness(1.2);
    -webkit-filter: drop-shadow(0 0 10px #cab072) brightness(1.2);
}

/* Global modifiers */

@font-face {
    font-family: 'HyliaSerifBeta-Regular';
    src: url('/fonts/HyliaSerifBeta-Regular.otf') format('opentype');
}

html {
    font-family: 'HyliaSerifBeta-Regular', sans-serif;
}

body {
    background-image: url('/img/backgrounds/1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Separators */

hr {
    background: linear-gradient(to right, transparent, #c7a154, transparent);

    display: block;

    width: 30rem;
    height: 3px;

    margin: 50px auto 30px;

    border: none;
}

.hyrule-rule {
    display: block;
    height: auto;

    margin: 10px auto;

    -webkit-mask-image: linear-gradient(to left, transparent 35%, black 45%, black 55%, transparent 65%);
    mask-image: linear-gradient(to left, transparent 35%, black 45%, black 55%, transparent 65%);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

/* Main */

main {
    width: 100%;
    height: 100%;
}

/* Main menu */

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 80vh;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    height: 20%;
    width: fit-content;

    margin: 0 auto;
    padding: 20px 30px;
}

.arcade-container {
    width: 100%;
}

/* Buttons */

button {
    background: none;

    font-family: 'HyliaSerifBeta-Regular', sans-serif;
    font-size: 20px;

    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 25px;

    transition: ease .3s all;

    cursor: pointer;
}

button:hover {
    background: rgba(0, 0, 0, 0.2);

    color: #cab072;

    transform: scale(1.1);
}

button:not(.arcade-container > button) {
    position: relative;

    width: fit-content;
    height: 70px;

    padding: 8px 20px;

    font-size: 34px;
}

.arcade-container > button {
    float: right;

    width: 50px;
    aspect-ratio: 1/1;

    border-radius: 30px;

    margin-top: 10px;
    margin-left: 10px;
    padding: 0;
}

#github {
    display: none;
    
    background-image: url('/img/icons/github-static.png');
    background-size: cover;
}

#github:hover {
    background-image: url('/img/icons/github.gif');
    background-size: cover;
}

#settings {
    display: none;

    background-image: url('/img/icons/settings.png');
    background-size: cover;
}

#settings:hover {
    transform: scale(1.1) rotate(90deg);
}
